.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  box-shadow: 8px 4px 15px gray;
}

.button {
  margin-bottom: 20px !important;
}

.canvas {
  width: 100%;
  z-index: 100;
  height: 100%;
}

.map-context {
  width: 80%;
  z-index: 2;
  height: 100%;
}

.span {
  display: none;
}

.image {
  width: 30px;
  height: 30px;
}